# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.eggs/
.build/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.venv/
venv/
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/
.npm/

# Solidity (Foundry/Hardhat/Truffle)
artifacts/
cache/
out/
broadcast/
.openzeppelin/

# OS
.DS_Store
Thumbs.db
